.wp-caption {
        //font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        //font-style: italic;
	//margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		@extend .small;
                color: lighten( $body-color, 20% );
                padding: .125em;
	}
}

.wp-caption-text {
    &:focus {
        border: 0 transparent;
    }
}