$font__main: $font-family-serif;
$font__secondary: $font-family-sans-serif;
$font__code: $font-family-monospace;
$font__pre: $font-family-monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;