.widget {
	//margin: 0 0 ( $grid-gutter-width );
        //margin: 0 ( $grid-gutter-width * .125 ) ( $grid-gutter-width ) ( $grid-gutter-width * .125 );
        margin-bottom: $grid-gutter-width;
        //font-family: $headings-font-family;
        font-weight: 300; // $headings-font-weight;
        
        //box-shadow: 0 0 5px #ccc;
        //box-shadow: 0 2px 6px #dddbdb;
        //background-color: #f1f0ec;

        ul {
            @extend .list-unstyled;
            margin-left: 0;
            margin-bottom: 0;
        }
        
        li {
            margin-bottom: .75em;
        }
        
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
                background-color: $color__background-screen;
                padding: .25rem;
                border: 1px solid $color__border-input;
	}
        
        &.widget_search {
            .search-form {
                label {
                    width:100%;
                }
                .search-field {
                    width: calc(100% - 0.75rem);
                }
            }
        }
        
        &.widget_categories {
            label {
                color: $color__text-input-focus;
            }
        }
}

#secondary {
    
    .widget {
        padding: ( $grid-gutter-width  );
    }
    
    .widget:nth-of-type(3n+1) {
        background-color: #f1f0ec;
    }
    .widget:nth-of-type(3n+2) {
        background-color: rgb(255, 235, 59);;
    }
    .widget:nth-of-type(3n+3) {
        background-color:rgb(0, 188, 212);
    }
}

#tetriary {
    .widget {
        padding: 0;
    }
}

.widget-title{
    //position: relative;
    //@extend .h3;
    //line-height: 1;
    //border-bottom: solid 1px #000;
    //padding: 0 0 .5em 0;
    //font-weight: 700;
    //font-size: .75rem;
    font-family: $font__secondary;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: ( $grid-gutter-width  );
    //box-shadow: -5px 5px 5px #ccc;
    //margin: 0 ( $grid-gutter-width * -0.125 ) ( $grid-gutter-width * .5 );
    //padding: ( $grid-gutter-width * .125 );
    //background-color: #f0efef;
    //display:inline-block;
    color: $color__text-main;

    //&:after {
        /* 
        border-top: 1px solid #404040;
        content:"";
        //margin: 0 auto; // /* this centers the line to the full width specified 
        position: absolute; // /* positioning must be absolute here, and relative positioning must be applied to the parent 
        top: 50%;
        //left: 0; 
        right: 0; 
        bottom: 0;
        width: 100%;
        z-index: -1;
        display:inline-block;
            */
    //}

    span {
        @extend .small;
        //background-color:  #faf9f8;
        //display: inline-block;
        padding: .5em;
    }
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_search, .widget_meta {
    line-height: 1.25;
}

.widget_recent_entries a {
    border: 0 transparent;
}

.widget-area {
    display:none;
    .widget {
        //background-color: #f0efef;
    }
}

@include media-breakpoint-up(lg) {
    .widget-area {
        display:block;
    }
}

#top-widget, #tetriary {
    .widget-title {
        margin-bottom: 1rem;
    }
}
