.comments-area {
    ul {
        list-style: none;
    }
    
    .children {
        margin-left: .75em;
        padding-left: .75em;
    }
}

.comments-title {
    @extend .widget-title;
    margin-bottom: $grid-gutter-width * 0.75;
}

.comment-reply-title {
    @extend .widget-title;
    margin-bottom: $grid-gutter-width * 0.75 ;
}

.comment-content a {
	word-wrap: break-word;
}

.comment footer a {
    border-bottom: 0 transparent;
}

.bypostauthor {
    display: block;
}

.comments-avatar {
    margin: 0 .5em .5em 0;
    padding:1px;
    border: 1px solid #ddd;
}

.comment-author.vcard {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    //font-family: $headings-font-family;
}

.comment-meta .fn {
    font-style: normal;
    text-transform: uppercase;
}

.comment-form label {
    display: none;
}


.comment-fields {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-ur {
    padding: 0 0 ( $grid-gutter-width / 8 ) 0;
    //padding:0;
    margin: 0;
    input, textarea{
        //border: 0;
        //border-bottom: 1px solid #000;
        //border-radius: 0;
        width:100%;
    }
}

.comment-form-comment {
    //padding-bottom: ($grid-gutter-width / 2);
}

.comment-form-author, .comment-form-email, .comment-form-ur {
    width: 100%;
}

@include media-breakpoint-up(md) {
    .comment-content {
        padding-left: 60px;
    }
    .comment-fields {
        flex-direction: row;
    }
    .comment-form-author {
        padding-right: ( $grid-gutter-width / 2 );
    }
    
    .comment-form-email {
        padding-right: ( $grid-gutter-width / 2 );
        padding-left: ( $grid-gutter-width / 2 );
    }
    
    .comment-form-ur {
        padding-left: ( $grid-gutter-width / 2 );
    }
}

#cancel-comment-reply-link {
    float: right;
}

.comment-list {
    padding:0;
}

article.comment {
    padding-bottom: 1em;
}

.wpgdprc-checkbox {
    label {
	display: inline-block;
    }
}
