/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.loose-next-article, .loose-previous-article {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    letter-spacing: .05em;
    color:#999;
}

//.nav-previous a, .nav-next a,
.loose-next-article-title, .loose-previous-article-title {
    //display:block;
    //border-top: 1px solid #000;
    font-weight: 700;
    font-size: 1.125rem;
    color:#444;
    //padding: .5em 0;
}

.nav-links {
    a:hover > .loose-next-article-title,
    a:hover > .loose-previous-article-title,
    a:hover > .loose-next-article,
    a:hover > .loose-previous-article,{
	color:$color__link-hover;
    }
}

.nav-previous {
    padding-right: ( $grid-gutter-width / 2 );
}

.nav-next {
    padding-left: ( $grid-gutter-width / 2 );
}

.post-navigation {
    @extend .col-md-12;
}

.page-links {
    text-align: center;
    @extend .h5;
}