html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";
        //@extend .blockquote;
        //padding: 0 0 1em 0;
        margin-bottom: 0;
        border-left: 0;
        font-size:1.25rem;
        font-weight:700;
	font-style: italic;
	line-height: 1.375;
        //@extend .col-md-7;

	cite {
	    font-weight: 300;
	}

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img, figure {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.masonry img {
    width:100%;
}

.single, .page {
    blockquote, q {

        cite {
            display: block;
            font-size: 1rem;
            text-align: right;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        cite:before {
            content: "- ";
        }

        cite:after {
            content: " -";
        }
    }
}


@include media-breakpoint-up(md){
    .post blockquote, .post q, .post .entry-content img.alignleft, .post .entry-content img.alignnone, .post .entry-content figure.alignleft, .post .entry-content figure.alignnone {
        margin-left: -21.666%;
    }
    .post .entry-content img.alignnone, .post .entry-content figure.alignnone {
        min-width: 121.666%;
    }
    .single, .page {
        blockquote, q {
            padding-left: 0;
        }
    }
}

@import "tables";

:focus {
    outline: transparent;
}

button > svg,
a > button > svg,
span > svg {
    max-width:24px;
    max-height: 24px;
    fill: $color__text-main;
    &:hover {
	fill: $color__link-hover;
    }
}
