input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: $grid-gutter-width * .125;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	//border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	//padding: 3px;
}

input, textarea {
    background-color: transparent;
}

textarea {
	//padding-left: 3px;
	width: 100%;
	height: 5rem;
}