h1, h2, h3, h4, h5, h6 {
    clear: both;
}

.site-title {
    @extend h1;
    text-transform: uppercase;
}

.site-title a{
    color: $color__text-main;
}

.single .post .entry-title, .page .page .entry-title, .site-title {
    //text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: $grid-gutter-width / 2;
}

.site-branding {
    position: relative;
    text-align: center;
    padding: $grid-gutter-width 0;
}

.site-description, .site-title {
    margin:0;
}

.blog, .archive, .search {
    .entry-title {
        margin-bottom: 0;
    }
}

.blog, .archive, .search {
    .content-area .entry-title{
        //font-size: 1.75rem;
        line-height: 1.4;
        margin-top: .375em;
        margin-bottom: .375em;
        font-weight: 700;
        letter-spacing: -0.01em;
    }
}

@include media-breakpoint-up(md){
    .blog, .archive, .search {
        .content-area .entry-title{
            font-size: 1.6rem;
            //letter-spacing: -0.025em;
        }
    }
}

.blog, .archive, .search {
    .content-area .entry-title a{
        color: #363738;
    }
}