.alignleft {
	display: inline;
	float: left;
	margin-right: $grid-gutter-width / 2;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $grid-gutter-width / 2;
}

.aligncenter {
	@include center-block;
}

.alignleft, .alignright, .aligncenter {
    margin-bottom: $grid-gutter-width / 4;
}