p.has-drop-cap:not(:focus)::first-letter {
    float: left;
    font-size: 4em;
    line-height: 1;
    font-weight: 700;
    margin-right: 5px;
    text-transform: none;
    font-style: normal;
}

.wp-block-separator {
    &.is-style-default {
	width: 120px;
    }
}

.entry-content {
    .wp-block-button__link {
	color: inherit;
    }
}
