.mc4wp-form input[type="email"] {
    padding: .5em 0 0 0;
    width:100%;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.mc4wp-form label {
    text-align: left;
}

.mc4wp-form p {
    text-align: center;
}