.left-widget-area,
#secondary {
    .widget_social_media_icons_widget_by_fat {
	ul {
	    text-align: center;
	    li {
		display: inline-block;
		margin-bottom: .75em;
		display: inline-block;
		padding: .5em;
	    }
	}
    }
}
