.fat-wpp-image-cat {
    //@extend h6;
    font-family: $font__secondary;
    font-size: .625rem;
    letter-spacing: .05em;
    display: inline-block;
    padding: .25rem .5rem .25rem 0;
    //margin-bottom: $grid-gutter-width / 2;
    //background-color: #f1f0ec;
    
    span {
	margin: .25em;
    }
}
.fat-wpp-image-cat a{
    text-transform: uppercase;
    color: $color__text-input;
}

.fat-wpp-list > li {
    //padding: 0.5em;
    //margin: 0 ( $grid-gutter-width * -0.125 ) ( $grid-gutter-width / 2 );
    //padding: 0 ( $grid-gutter-width * .125 ) ( $grid-gutter-width * .125 );
    //margin: 0 0 ( $grid-gutter-width / 2 );
    //background-color:#f0efef;
    margin-bottom: $grid-gutter-width;
    position: relative;
}

.fat-wpp-list > li > h2 {
    font-size: 1.25em;
    line-height: 1.1875;
    //margin-top: .375em;
    //margin-top: ( $grid-gutter-width * .25 );
    margin-bottom: 0;
    font-weight:700;
}

.fat-wpp-list > li > h2 > a {
    //background-color: #fff;
    color: #363738;
    &:hover{
        //color: aqua;
    }
}

.fat-wpp-image {
    position: relative;
}

.fat-wpp-image img{
    //margin-bottom: -1.5rem;
    width: 100%;
}

.popular-posts .loose-post-format-icon {
    right: 0; //( ( $grid-gutter-width / 2 ) + .5 );
    padding-right: 0;
    svg {
	height: 1.125rem;
    }
}